@import "../../styles/variables";

.locale-switch {
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 1rem;
}
