@import "../../styles/variables";

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

    .profile-picture {
        display: block;
        width: 50%;
        min-height: 120px;
        min-width: 120px;
        aspect-ratio: 1 / 1;
        margin: 0 auto;
    }

    .profile-picture img {
        width: 100%;
        border-radius: 50%;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headline {
        font-size: 1.5rem;
        cursor: pointer;
        margin-bottom: 0;

        .code {
            color: var(--accent-color);
        }
    }

    .tagline {
        font-size: 1.25rem;
        margin-top: 0;
        text-align: center;
    }

    @media (min-width: $phone) {
        .headline {
            font-size: 1.5rem;
        }
    }

    @media (min-width: $tablet) {
        .headline {
            font-size: 2rem;
        }
    }

    @media (min-width: $desktop) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 60px;

        .info {
            display: block;
        }

        .tagline {
            text-align: left;
        }

        .profile-picture {
            margin: 0 0 0 auto;
            max-width: 300px;
        }
    }
}
