// Breakpoints
$phone: 420px;
$tablet: 540px;
$desktop: 720px;
$desktop-xl: 1024px;

// Colors
// Light Theme
$light-text-color: #333;
$light-accent-color: #a00000;
$light-bg-color: #eee;
// Dark Theme
$dark-text-color: #eee;
$dark-accent-color: #56b6c2;
$dark-bg-color: #333;
