@import "../../styles//variables";

.status-badge {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.6rem;
    margin: 0;
    border-radius: 0.5em;
    border: 1px solid $light-text-color;
    color: $light-text-color;
    background-color: $light-bg-color;
    overflow: hidden;

    @media (min-width: $tablet) {
        font-size: 0.8rem;
    }

    @media (min-width: $desktop) {
        font-size: 1rem;
    }

    &__icon {
        padding: 4px;
        background-color: $dark-bg-color;
    }

    &__text {
        padding: 4px;
    }
}