.scrambling-markup {
    display: inline-block;
    animation: shake 1s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(4px);
    }

    20% {
        transform: translateX(-4px);
    }

    30% {
        transform: translateX(2px);
    }

    40% {
        transform: translateX(-2px);
    }

    50% {
        transform: translateX(1px);
    }

    60% {
        transform: translateX(-1px);
    }

    74% {
        transform: translateX(1px);
    }

    88% {
        transform: translateX(-1px);
    }

    100% {
        transform: translateX(0);
    }
}
