@import "../styles/variables";

.page {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 20px;
    transition: background-color 0.25s;

    &.dark {
        --text-color: #{$dark-text-color};
        --accent-color: #{$dark-accent-color};
        --bg-color: #{$dark-bg-color};
    }

    header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        @media (min-width: $desktop) {
            justify-content: flex-end;
            margin-bottom: 0;
        }

        .locale-select {
            background: none;
            border: none;
            font-family: inherit;
            font-size: inherit;
            color: inherit;
            text-decoration: underline;
            cursor: pointer;
            margin-right: 2rem;

            option {
                color: $light-text-color;
            }
        }
    }
}
